/*
.site-content {
    margin: 0 10%;
}

@media ( max-width: 750px) {
    .site-content {
        margin: 0 8%;
    }
    @media ( max-width: 550px) {
        .site-content {
            margin: 0 5%;
        }
    }
    @media ( max-width: 450px) {
        .site-content {
            margin: 0;
        }
    }
}*/